<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control del Hotel</title>
</head>
<body>
    <h1>Panel de control del Hotel</h1>

    <a href="/auth/register">Registro</a>
    <a href="/guests">Huéspedes</a>
    <a href="/rooms">Habitaciones</a>
    <br><br>
    <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>