<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar habitación</title>
</head>
<body>
    <h1>Registrar habitación</h1>
    <a href="/">Inicio</a>
    <a href="/rooms">Volver</a>
    <form action="/rooms/create" method="POST">
        <label>
            <p>Número de habitación</p>
            <input type="number" name="number" placeholder="Nº habitación">
        </label>

        <label>
            <p>Tipo</p>
            <select name="type" placeholder="Tipo">
                <option value="Individual">Individual</option>
                <option value="Doble">Doble</option>
                <option value="Suite">Suite</option>
            </select>
        </label>

        <br>
        <br>
        <button type="submit">Registar</button>
    </form>
</body>
</html>